/* 
// 12.counter
*/
.counter-part {
    .counter-no {
        box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
    }
    .number {
        h2 {
            font-weight: 400;
        }
    }
}
